include ../templates/mixins/m-accordion

section.section.faq
	.section_in.faq__in
		.faq__head
			h2.faq__title FAQ
			.faq__text Clicca sulle domande per aprire e leggere le risposte.
		+accordion([
			{
				title: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.',
				descr: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit dignissimos, aut magnam provident iste laborum at accusantium cupiditate fugiat. Consequatur deleniti maxime voluptas suscipit veritatis fuga sapiente porro temporibus architecto.',

			},
			{
				title: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Viverra mi lacinia aliquam quis morbi orci at nisi, dignissim.',
				descr: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit dignissimos, aut magnam provident iste laborum at accusantium cupiditate fugiat. Consequatur deleniti maxime voluptas suscipit veritatis fuga sapiente porro temporibus architecto.',

			},
			{
				title: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.',
				descr: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dictumst pulvinar est facilisi condimentum commodo, mattis est nisl facilisis. Sem augue dolor fusce sed. Tempus suscipit turpis eu pellentesque turpis non. In consectetur magna feugiat id nisl lorem leo vel eget.  Tempus suscipit turpis eu pellentesque turpis non. ',

			},
			{
				title: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Viverra mi lacinia aliquam quis morbi orci at nisi, dignissim.',
				descr: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit dignissimos, aut magnam provident iste laborum at accusantium cupiditate fugiat. Consequatur deleniti maxime voluptas suscipit veritatis fuga sapiente porro temporibus architecto.',

			},
			{
				title: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.',
				descr: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit dignissimos, aut magnam provident iste laborum at accusantium cupiditate fugiat. Consequatur deleniti maxime voluptas suscipit veritatis fuga sapiente porro temporibus architecto.',

			},
		])