section.section.hero
	.section_in
		.hero__block
			.hero__col
				.hero__col_in
					.hero__subtitle Національна програма мобільності молоді
					h1.hero__title Мандруй! Уявляй! Відкривай!
					.hero_text Найбільша в Центральній та Східній Європі 7-денна програма внутрішніх обмінів для молоді віком від 14 до 21 року. Її ініціатором є Міністерство культури, молоді та спорту України, в основу діяльності якого покладені демократичні цінності та принципи всебічного розвитку особистості.
					a.hero__link(href='#') Стати учасником програми МУВ

			.hero__col
				.hero__col_in
					include hero_img
